TEM-image-simple/workshop-TEM.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:element name="measurement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="core" type="core-type"/>
                <xsd:element name="material">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="quantity-unit">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="mass fraction"/>
                                        <xsd:enumeration value="mass percent"/>
                                        <xsd:enumeration value="mole fraction"/>
                                        <xsd:enumeration value="mole percent"/>
                                        <xsd:enumeration value="volume fraction"/>
                                        <xsd:enumeration value="volume percent"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="composition" type="composition-gui-type"/>
                            <xsd:element minOccurs="0" name="phases" type="xsd:string"/>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="anneal"
                                type="anneal-type"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="transmission-electron-microscopy"
                    type="transmission-electron-microscopy-type"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="chemical-element-type">
        <xsd:annotation>
            <xsd:documentation>
        <div class="summary">Allowed Chemical Element Type values.</div>
        <div class="description">
          <p>Modified from Chemical Markup Language. The periodic table (up to
            element number 118. In addition the following strings are allowed:
          </p> 
        </div>
      </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Ac"/>
            <xsd:enumeration value="Al"/>
            <xsd:enumeration value="Ag"/>
            <xsd:enumeration value="Am"/>
            <xsd:enumeration value="Ar"/>
            <xsd:enumeration value="As"/>
            <xsd:enumeration value="At"/>
            <xsd:enumeration value="Au"/>
            <xsd:enumeration value="B"/>
            <xsd:enumeration value="Ba"/>
            <xsd:enumeration value="Bh"/>
            <xsd:enumeration value="Bi"/>
            <xsd:enumeration value="Be"/>
            <xsd:enumeration value="Bk"/>
            <xsd:enumeration value="Br"/>
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="Ca"/>
            <xsd:enumeration value="Cd"/>
            <xsd:enumeration value="Ce"/>
            <xsd:enumeration value="Cf"/>
            <xsd:enumeration value="Cl"/>
            <xsd:enumeration value="Cm"/>
            <xsd:enumeration value="Co"/>
            <xsd:enumeration value="Cr"/>
            <xsd:enumeration value="Cs"/>
            <xsd:enumeration value="Cu"/>
            <xsd:enumeration value="Db"/>
            <xsd:enumeration value="Dy"/>
            <xsd:enumeration value="Er"/>
            <xsd:enumeration value="Es"/>
            <xsd:enumeration value="Eu"/>
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="Fe"/>
            <xsd:enumeration value="Fm"/>
            <xsd:enumeration value="Fr"/>
            <xsd:enumeration value="Ga"/>
            <xsd:enumeration value="Gd"/>
            <xsd:enumeration value="Ge"/>
            <xsd:enumeration value="H"/>
            <xsd:enumeration value="He"/>
            <xsd:enumeration value="Hf"/>
            <xsd:enumeration value="Hg"/>
            <xsd:enumeration value="Ho"/>
            <xsd:enumeration value="Hs"/>
            <xsd:enumeration value="I"/>
            <xsd:enumeration value="In"/>
            <xsd:enumeration value="Ir"/>
            <xsd:enumeration value="K"/>
            <xsd:enumeration value="Kr"/>
            <xsd:enumeration value="La"/>
            <xsd:enumeration value="Li"/>
            <xsd:enumeration value="Lr"/>
            <xsd:enumeration value="Lu"/>
            <xsd:enumeration value="Md"/>
            <xsd:enumeration value="Mg"/>
            <xsd:enumeration value="Mn"/>
            <xsd:enumeration value="Mo"/>
            <xsd:enumeration value="Mt"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="Na"/>
            <xsd:enumeration value="Nb"/>
            <xsd:enumeration value="Nd"/>
            <xsd:enumeration value="Ne"/>
            <xsd:enumeration value="Ni"/>
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="Np"/>
            <xsd:enumeration value="O"/>
            <xsd:enumeration value="Os"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="Pa"/>
            <xsd:enumeration value="Pb"/>
            <xsd:enumeration value="Pd"/>
            <xsd:enumeration value="Pm"/>
            <xsd:enumeration value="Po"/>
            <xsd:enumeration value="Pr"/>
            <xsd:enumeration value="Pt"/>
            <xsd:enumeration value="Pu"/>
            <xsd:enumeration value="Ra"/>
            <xsd:enumeration value="Rb"/>
            <xsd:enumeration value="Re"/>
            <xsd:enumeration value="Rf"/>
            <xsd:enumeration value="Rh"/>
            <xsd:enumeration value="Rn"/>
            <xsd:enumeration value="Ru"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="Sb"/>
            <xsd:enumeration value="Sc"/>
            <xsd:enumeration value="Se"/>
            <xsd:enumeration value="Sg"/>
            <xsd:enumeration value="Si"/>
            <xsd:enumeration value="Sm"/>
            <xsd:enumeration value="Sn"/>
            <xsd:enumeration value="Sr"/>
            <xsd:enumeration value="Ta"/>
            <xsd:enumeration value="Tb"/>
            <xsd:enumeration value="Tc"/>
            <xsd:enumeration value="Te"/>
            <xsd:enumeration value="Th"/>
            <xsd:enumeration value="Ti"/>
            <xsd:enumeration value="Tl"/>
            <xsd:enumeration value="Tm"/>
            <xsd:enumeration value="U"/>
            <xsd:enumeration value="Uun"/>
            <xsd:enumeration value="Uuu"/>
            <xsd:enumeration value="Uub"/>
            <xsd:enumeration value="Uut"/>
            <xsd:enumeration value="Uuq"/>
            <xsd:enumeration value="Uup"/>
            <xsd:enumeration value="Uuh"/>
            <xsd:enumeration value="Uus"/>
            <xsd:enumeration value="Uuo"/>
            <xsd:enumeration value="V"/>
            <xsd:enumeration value="W"/>
            <xsd:enumeration value="Xe"/>
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="Yb"/>
            <xsd:enumeration value="Zn"/>
            <xsd:enumeration value="Zr"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="composition-gui-type">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="constituent">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" name="element" type="chemical-element-type"/>
                        <xsd:element name="quantity" type="xsd:double"/>
                        <xsd:element minOccurs="0" name="purity" type="xsd:double"/>
                        <xsd:element minOccurs="0" name="error" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="core-type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="contactPoint">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="fn" type="xsd:string"/>
                        <xsd:element name="hasEmail">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <!-- removed ^ and $ and added a-z in all the strings - xml is case sensitive, this matters -->
                                    <xsd:pattern
                                        value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="keyword" type="xsd:string"/>
            <xsd:element minOccurs="0" name="modified">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <!--<xs:pattern value="(\d{4})(-\d{2})?(-\d{2})?"/>-->
                        <xsd:pattern
                            value="[0-9]{4}|([0-9]{4})-(1[0-2]|0[1-9])|([0-9]{4})-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])"/>

                        <!--                <xs:pattern
                    value="([0-9]{4})|^([0-9]{4})\-(1[0-2]|0[1-9])|^([0-9]{4})\-?(1[0-2]|0[1-9])\-?(3[01]|0[1-9]|[12][0-9])"
                />-->
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="publisher">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="accessLevel">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="public"/>
                        <xsd:enumeration value="restricted public"/>
                        <xsd:enumeration value="non-public"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="identifier" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="bureauCode" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="programCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="miller-index-direction-type">
        <xsd:annotation>
            <xsd:documentation>Crystallographic direction</xsd:documentation>
            <xsd:documentation>This reusable type may be used to specify a crystallographic direction or family of equivalent directions in a crystal Bravais lattice. As all enclosed elements are optional, this type may be used for two-dimensional representations (h, k) or three-dimensional representations in either the three-index (h, k, l) or four index (h, k, i, l) notation.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="h" type="xsd:double"/>
            <xsd:element minOccurs="0" name="k" type="xsd:double"/>
            <xsd:element minOccurs="0" name="i" type="xsd:double"/>
            <xsd:element minOccurs="0" name="l" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="physical-quantity-type">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:float"/>
            <xsd:element minOccurs="0" name="unit" type="xsd:string"/>
            <xsd:element minOccurs="0" name="uncertainty" type="uncertainty-type"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"
            />
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="skip"/>
    </xsd:complexType>
    <xsd:complexType name="remote-file-type">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="file">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="type" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="downloadURL" type="xsd:anyURI"/>
                        <xsd:element minOccurs="0" name="accessURL" type="xsd:anyURI"/>
                        <xsd:element minOccurs="0" name="local" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transmission-electron-microscopy-type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="instrument-ID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sample-ID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="user-ID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="acquisition-date-time" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="metadata" type="xsd:anyType"/>
            <xsd:element minOccurs="0" name="imaging-mode">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Bright Field Image"/>
                        <xsd:enumeration value="Dark Field Image"/>
                        <xsd:enumeration value="Selected Area Diffraction"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="tilt-zone-axis" type="miller-index-direction-type"/>
            <xsd:element minOccurs="0" name="accelerating-voltage" type="physical-quantity-type"/>
            <xsd:element minOccurs="0" name="supporting-files" type="remote-file-type"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="uncertainty-type">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="value" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="anneal-type">
        <xsd:sequence>
            <xsd:element name="time" type="physical-quantity-type"/>
            <xsd:element name="temperature" type="physical-quantity-type"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
